    
{% extends "EspritFrontOfficeBundle::layout1.html.twig" %}
{% block content %} 
    
      <div class="form-search">
                        <form method="POST">

                            <label for="sys_txt_keyword">
                                
                                <input id="sys_txt_keyword" class="txt-keyword" name="proj" type="text" placeholder="Search projects">
                            </label>
                            <button class="btn-search" type="reset"><i class="icon iMagnifier"></i></button>
                            <button class="btn-reset-keyword" type="reset"><i class="icon iXHover"></i></button>
                        </form>
                        
                        
                    </div>
    <ul>
    <li class="current first">
          <a href="{{ path('esprit_front_office_tableau') }}">Gestion de Projets</a>
    </li>
     <li class="current first">
          <a href="{{ path('esprit_front_office_forum_homepage_topics') }}">Forum</a>
    </li>
    <li class="current_ancestor">
        <a href="{{path('esprit_front_office_liste')}}">liste de projets</a>
        <ul class="menu_level_1">
          

            <li class="current first last">
                <a href="{{path('esprit_front_office_liste')}}">Rechercher projet</a>
            </li>
        </ul>
    </li>
</ul>

     <div class="top-lbl-val">
                    <h3 class="common-title">Découvrir / <span class="fc-orange">Projets</span></h3>
                    <div class="count-result">
                       
                    </div>
    </div>
     
   
     
     <div class="list-project-in-category">
                    <div class="lbl-type clearfix">
                        <h4 class="rs title-lbl"><a href="#" class="be-fc-orange">Liste de Projets</a></h4>
                        <br><br>
                        <div class="list-project">
                            
                        </div>{% for m in mds %}
                        


                        <div class="grid_3">
                            <div class="project-short sml-thumb">
                                <div class="top-project-info">
                                    <div class="content-info-short clearfix">
                                        <a href="#" class="thumb-img">
                                             <img src ="{{asset('uploads/projets/'~m.path) }}"  width="450" height="250"alt=""  > 
                                        </a>
                                        <div class="wrap-short-detail">
                                            <h3 class="rs acticle-title"><a class="be-fc-orange" href="#"><a href="{{path('esprit_front_office_detail', {'id':m.id})}}"> {{ m.titre}}</h3>
                                            <p class="rs tiny-desc">Par <a href="#" class="fw-b fc-gray be-fc-orange">{{m.idUser.username}}</a></p>
                                            <p class="rs title-description">type {{m.type}}</p>
                                            <p class="rs project-location">
                                                <i class="icon iLocation">pays : {{m.pays}}</i>
                                                  
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div><!--end: .grid_3 > .project-short-->{% endfor %}
                        <!--end: .grid_3 > .project-short-->

                       <!--end: .grid_3 > .project-short-->
                        <div class="clear"></div>
                    </div>
                </div>
        
        
        

        
        
        
        
{%endblock%}

