<!DOCTYPE html>
<html>
<head>
    <title>Welcome to CrowdRise</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <link href='{{asset('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300')}}' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{asset('bundles/espritfrontoffice/css/normalize.css')}}"/>
    <link rel="stylesheet" href="{{asset('bundles/espritfrontoffice/css/jquery.sidr.light.css')}}"/>
	<link rel="stylesheet" href="{{asset('bundles/espritfrontoffice/css/animate.min.css')}}"/>
	<link rel="stylesheet" href="{{('bundles/espritfrontoffice/css/md-slider.css')}}"/>
    <link rel="stylesheet" href="{{asset('bundles/espritfrontoffice/css/style.css')}}"/>
        <link rel="stylesheet" href="{{asset('css/table.css')}}"/>
            <link rel="stylesheet" href="{{ asset('bundles/dcsrating/css/rating.css') }}" />


    <!--[if lte IE 7]>
    <link rel="stylesheet" href="css/ie7.css"/>
    <![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/ie8.css"/>
    <![endif]-->
    <link rel="stylesheet" href="{{asset('css/responsive.css')}}"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{{asset('js/raphael-min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery-1.9.1.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/jquery-migrate-1.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery.touchwipe.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/md_slider.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/jquery.sidr.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery.tweet.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/pie.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/script.js')}}"></script>

</head>
<body>

    <header id="header">
        <div class="wrap-top-menu">
            <div class="container_12 clearfix">
                <div class="grid_12">
                    <nav class="top-menu">
                        <ul id="main-menu" class="nav nav-horizontal clearfix">
                            <li class="active"><a href="{{path('fos_user_security_login')}}">{% if is_granted('IS_AUTHENTICATED_FULLY') %}<img src ="{{asset('uploads/users/'~app.user.path)}} "  width="20" height="17"alt=""  > {{app.user.username}}{% endif %} Home</a></li>
                            
                            <li class="sep"></li>
                            <li><a href="{{path('esprit_front_office_help')}}">Help</a></li>
                            <li class="sep"></li>
                            <li><a href="{{path('esprit_front_office_contact')}}">Contact</a></li>
                        </ul>
                        <a id="btn-toogle-menu" class="btn-toogle-menu" href="{{asset('#alternate-menu')}}">
                            <span class="line-bar"></span>
                            <span class="line-bar"></span>
                            <span class="line-bar"></span>
                        </a>
                        <div id="right-menu">
                            <ul class="alternate-menu">
                                <li><a href="{{path('fos_user_security_login')}}">Home</a></li>
                                <li><a href="{{('all-pages.html')}}">All Pages</a></li>
                                <li><a href="{{('how-it-work.html')}}">Help</a></li>
                                <li><a href="{{('contact.html')}}">Contact us</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="top-message clearfix">
                        <i class="icon iFolder"></i>
                        
                        <i class="icon iX"></i>
                        <div class="clear"></div>
                    </div>
                    <i id="sys_btn_toggle_search" class="icon iBtnRed make-right"></i>
                </div>
            </div>
        </div><!-- end: .wrap-top-menu -->
        <div class="container_12 clearfix">
            <div class="grid_12 header-content">
                <div id="sys_header_right" class="header-right">
                    <div class="account-panel">
                       
                             
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                             <a href="{{path('fos_user_profile_edit')}}" class="btn btn-red btn-submit-all" >Compte</a>
                             {% else %}
                       <a href="{{path('fos_user_registration_register')}}" class="btn btn-red btn-submit-all">Register</a>
                        {%endif%}
                        
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                         <a href="{{path('fos_user_security_logout')}}" class="btn btn-red btn-submit-all" > Logout</a>
                     {% else %}
                        <a href="{{path('fos_user_security_login')}}" class="btn btn-black sys_show_popup_login"> Login</a>
                        {%endif%}
                    </div>
                    
                </div>
                <div class="header-left">
                    <h1 id="logo">
                        <a href="{{path('fos_user_security_login')}}"><img src="{{asset('images/logo.png')}}" alt="$SITE_NAME"/></a>
                    </h1>
                    <div class="main-nav clearfix">
                        <div class="nav-item">
                            <a href="{{path('esprit_front_office_liste')}}" class="nav-title">CrowdFunding</a>
                            <p class="rs nav-description">Projets </p>
                        </div>
                        <span class="sep"></span>
                        <div class="nav-item">
                            <a href="{{path('esprit_application_afficher_idee')}}" class="nav-title">CrowdSourcing</a>
                            <p class="rs nav-description">Idées</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </header><!--end: #header -->
    
    {% block content %}
      <center><img src="{{asset('images/gif1.gif')}}"></center>

    
    <div class="home-feature-category">
        <div class="container_12 clearfix">
            <div class="grid_4 left-lst-category">
                <div class="wrap-lst-category">
                    <h3 class="title-welcome rs">Bienvenue à Crowdrise!</h3>
                    <p class="description rs">Découvre les idées innovantes posté par les utilisateurs de notre plateforme , et poster votre idée ...</p>
                    <nav class="lst-category">
                        <ul class="rs nav nav-category">
                            <li>
                                <a href="{{path('esprit_application_type_idee',{'type':'Musique'})}}">
                                    Musique
                                    <span class="count-val"></span>
                                    <i class="icon iPlugGray"></i>
                                </a>
                            </li>
                            <li >
                                <a href="{{path('esprit_application_type_idee',{'type':'Sports'})}}">
                                    Sports
                                    <span class="count-val"></span>
                                    <i class="icon iPlugGray"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{path('esprit_application_type_idee',{'type':'Technologie'})}}">
                                    Technologie
                                    <span class="count-val"></span>
                                    <i class="icon iPlugGray"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{path('esprit_application_type_idee',{'type':'Santé'})}}">
                                    Santé
                                    <span class="count-val"></span>
                                    <i class="icon iPlugGray"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{path('esprit_application_type_idee',{'type':'Culture'})}}">
                                    Culture
                                    <span class="count-val"></span>
                                    <i class="icon iPlugGray"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{path('esprit_application_type_idee',{'type':'Affaires'})}}">
                                    Affaires
                                    <span class="count-val"></span>
                                    <i class="icon iPlugGray"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{path('esprit_application_type_idee',{'type':'Photographie'})}}">
                                    Photographie
                                    <span class="count-val"></span>
                                    <i class="icon iPlugGray"></i>
                                </a>
                            </li>
                        </ul>
                        <p class="rs view-all-category">
                            <a href="{{path('esprit_application_afficher_idee')}}" class="be-fc-orange">+ Voir tous les types</a>
                        </p><br>
                    </nav><!--end: .lst-category -->
                </div>
            </div><!--end: .left-lst-category -->
            <div class="grid_8 marked-category">
                <div class="wrap-title clearfix">
                    <h2 class="title-mark rs">Top : <span class="fc-orange">Idées</span></h2>
                    <a href="{{path('esprit_application_afficher_idee')}}" class="count-project be-fc-orange">Voir toutes les idées <span class="fw-b">24</span> Comics projects</a>
                </div>
                <div class="box-marked-project project-short">
                    <div class="top-project-info">
                        <div class="content-info-short clearfix">
                            <a href="#" class="thumb-img">
                                {% set val=0 %}
                                {%for i in idees%}
                                    {% set val = val+1 %}
                                    {%if val==1 %}
                                <img src="{{ asset('uploads/idee/'~i.path)}}" alt="$TITLE">
                                
                            </a>
                            <div class="wrap-short-detail">
                                <h3 class="rs acticle-title"><a class="be-fc-orange" href="{{asset('project.html')}}"> {{i.titre}}</a></h3>
                                <p class="rs tiny-desc">Type <a href="{{('profile.html')}}" class="fw-b fc-gray be-fc-orange"> {{i.type}}</a></p>
                                <p class="rs title-description"> {{i.description}}</p>
                            </div><br><br>
                            <center>
                            <p class="rs clearfix comment-view"><br><br><br>
                             {% include 'DCSRatingBundle:Rating:control.html.twig' with {'id' : i.id*10000} %}

                            </p>
                            </center>
                        </div>
                              
                    </div><!--end: .top-project-info -->
                    <div class="bottom-project-info clearfix">
                        <div class="project-progress sys_circle_progress" data-percent="{% for rate in rates %}
                                            {% if 10000*i.id==rate.id %} {{(rate.rate)*20}}{%endif%}
                                            {% endfor %}  ">
                            <div class="sys_holder_sector"></div>
                        </div>
                        <div class="group-fee clearfix">
                            <div class="fee-item">
                                <p class="rs lbl">Proposée par</p>
                                <span class="val">{% for user in users %}{% if i.idPorteurDeProjet==user.id %}{{user.username}}{%endif%}{%endfor%}</span>
                                
                                </div>
                            <div class="sep"></div>
                            <div class="fee-item">
                                <p class="rs lbl">Note actuelle</p>
                                            {% for rate in rates %}
                                            <span class="val">{% if 10000*i.id==rate.id %} {{rate.rate}} {%endif%}</span>
                                            {% endfor %}                            </div>
                            <div class="sep"></div>
                            
                        </div>
                            {%endif%}
                                 {%endfor%}
                        <div class="clear"></div>
                    </div>
                </div>
            </div><!--end: .marked-category -->
            <div class="clear"></div>
        </div>
    </div><!--end: .home-feature-category -->
    <div class="home-popular-project">
        <div class="container_12">
            <div class="grid_12 wrap-title">
                <h2 class="common-title">Projets</h2>
                <a class="be-fc-orange" href="{{path('esprit_front_office_liste')}}">Voir tous</a>
                
                  <div class="navigation">

        {{ knp_pagination_render(mds) }}

    
    {% for idee in projets %}
            

        
   <div class="grid_3">
                            <div class="project-short sml-thumb">
                                <div class="top-project-info">
                                    <div class="content-info-short clearfix">
        <a href="#" class="thumb-img">
                                            <img src="{{ asset('uploads/projets/'~idee.path)}}" id="img"  >
                                        </a>
                                        <div class="wrap-short-detail">
                                            <h3 class="rs acticle-title"><a class="be-fc-orange" href="{{path('esprit_front_office_detail',{'id':idee.id})}}">{{idee.titre}}</a></h3>
                                            <p class="rs tiny-desc">Type : <a href="{{path('esprit_application_type_idee',{'type':idee.type})}}" class="fw-b fc-gray be-fc-orange">{{idee.type}}</a></p>
                                            <p class="rs title-description">{{idee.description}}</p>
                                            <p class="rs project-location">
                                               Projet proposé par <br>
                                               <span class="val">
                                               {% for user in users %}{% if idee.idUser.id==user.id %} -- {{user.username}} -- {%endif%}{% endfor %}
                                               </span>
                                              
                                                
                                               
                                            </p>
                                        </div>
        
        </div>
                                </div>
                                <div class="bottom-project-info clearfix">
                                    
                                        
                                    <div class="group-fee clearfix">
                                        <div class="fee-item">
                                            <h4>Canaouite : {{idee.canaouite}}</h4>
                                            <center>
                                            <a href="{{path('esprit_application_funding',{'idprojet':idee.id})}}"><h2>Financer</h2></a>
                                            </center>
                                        </div>
                                        <div class="sep"></div>
                                        
                                    </div>

                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
        
      
        
        
                                              
    {% endfor %}
    
</div>
                
                
            </div>
            <div class="clear"></div>
            <div class="lst-popular-project clearfix">
                <div class="grid_3">
                    <div class="project-short sml-thumb">
                        
                    </div>
                </div><!--end: .grid_3 > .project-short-->
                <div class="grid_3">
                    <div class="project-short sml-thumb">
                        
                    </div>
                </div><!--end: .grid_3 > .project-short-->
                <div class="grid_3">
                    <div class="project-short sml-thumb">
                        
                    </div>
                </div><!--end: .grid_3 > .project-short-->
                <div class="grid_3">
                    <div class="project-short sml-thumb">
                        
                    </div>
                </div><!--end: .grid_3 > .project-short-->
            </div>
        </div>
    </div><!--end: .home-popular-project -->
    <div class="home-discover-friends">
        <div class="container_12">
            <div class="row-friends">
                <a class="thumb-avatar" href="#"><img src="{{asset('images/ex/th-119x119-1.jpg')}}" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="{{asset('images/ex/th-119x119-2.jpg')}}" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="{{asset('images/ex/th-119x119-3.jpg')}}" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="{{asset('images/ex/th-119x119-4.jpg')}}" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="{{asset('images/ex/th-119x119-5.jpg')}}" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="{{asset('images/ex/th-119x119-6.jpg')}}" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="{{asset('images/ex/th-119x119-7.jpg')}}" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="{{asset('images/ex/th-119x119-8.jpg')}}" alt="$USER_NAME"/></a>
                <div class="clear"></div>
            </div>
            <div class="row-friends row-connect-fb">
                <a class="thumb-avatar t-first" href="#"><img src="{{asset('images/ex/th-119x119-17.jpg')}}" alt="$USER_NAME"/></a>
                <div class="connect-fb">
                    <p class="rs description">Découvre qui ont posé des idées et des projets!</p>
                    <a href="{{path('esprit_application_list_expert')}}" class="btn btn-fb">Découvre les CrowdRisers </a>
                </div>
                <a class="thumb-avatar t-last" href="#"><img src="{{asset('images/ex/th-119x119-1.jpg')}}" alt="$USER_NAME"/></a>
                <div class="clear"></div>
            </div>
            <div class="row-friends">
                <a class="thumb-avatar" href="#"><img src="{{asset('images/ex/th-119x119-9.jpg')}}" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="{{asset('images/ex/th-119x119-10.jpg')}}" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="{{asset('images/ex/th-119x119-11.jpg')}}" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="{{asset('images/ex/th-119x119-12.jpg')}}" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="{{asset('images/ex/th-119x119-13.jpg')}}" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="{{asset('images/ex/th-119x119-14.jpg')}}" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="{{asset('images/ex/th-119x119-15.jpg')}}" alt="$USER_NAME"/></a>
                <a class="thumb-avatar" href="#"><img src="{{asset('images/ex/th-119x119-16.jpg')}}" alt="$USER_NAME"/></a>
                <div class="clear"></div>
            </div>
        </div>
    </div><!--end: .home-discover-friends -->

    <div class="additional-info-line">
        <div class="container_12">
            <div class="grid_9">On vise la satisfaction de notre clientelle , c'est notre source d'inspiration et de continuation</h2>
                <p class="rs description">Dans le cas d'un probléme , merci de nous réclamer</p>
            </div>
            <div class="grid_3 ta-r">
                <a class="btn bigger btn-red" href="{{path('esprit_ajout_reclamation')}}">Réclamation</a>
            </div>
            <div class="clear"></div>
        </div>
    </div><!--end: .additional-info-line -->
    {% endblock content %}
     <footer id="footer">
        <div class="container_12 main-footer">
            <div class="grid_3 about-us">
                <h3 class="rs title">à propos</h3>
                <p class="rs description">CrowdRise est un site web destiné au financement participatif des projets , ainsi qu'à la collecte et le partage des idées innovantes</p>
                <p class="rs email"><a class="fc-default  be-fc-orange" href="mailto:info@megadrupal.com">info@crowdrise.com</a></p>
                <p class="rs">+216 71 69 69 69</p>
            </div><!--end: .contact-info -->
            <div class="grid_3 recent-tweets">
                <h3 class="rs title">Réalisé par </h3>
                <p class="rs description">
                    L'équipe Gat3an , un groupe d'étudiants en ingénieurie informatique à l'Esprit .     
                </p>
            </div><!--end: .recent-tweets -->
            <div class="clear clear-2col"></div>
            <div class="grid_3 email-newsletter">
                <h3 class="rs title">Nous contacet</h3>
                <div class="inner">
                    <p class="rs description">Donnez vos avis vers notre boite mail</p>
                    <form action="#">
                        <div class="form form-email">
                            
                            <a href="{{path('esprit_front_office_contact')}}"><h2>Contacter</h2></a>
                        </div>
                    </form>
                </div>
            </div><!--end: .email-newsletter -->
            <div class="grid_3">
                <h3 class="rs title">Découvrir le site</h3>
                <div class="footer-menu">
                    <ul class="rs">
                        <li><a class="be-fc-orange" href="{{path('esprit_front_office_help')}}">Qui sommes nous</a></li>
                        <li><a class="be-fc-orange" href="{{path('esprit_front_office_ajout')}}">Débuter votre projet</a></li>
                        <li><a class="be-fc-orange" href="{{path('esprit_application_add_idee')}}">Poster votre idée</a></li>
                        <li><a class="be-fc-orange" href="{{path('esprit_application_list_expert')}}">Les utilisateurs</a></li>
                        <li><a class="be-fc-orange" href="{{path('esprit_application_listeprobleme')}}">Les problémes</a></li>
                    </ul>
                    <ul class="rs">
                        <li><a class="be-fc-orange" href="{{path('esprit_application_ProbSoln')}}">Les solutions</a></li>
                        <li><a class="be-fc-orange" href="{{path('esprit_ajout_reclamation')}}">Les réclamations</a></li>
                            </ul>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="copyright">
            <div class="container_12">
                <div class="grid_12">
                    <a class="logo-footer" href="#"><img src="{{asset('images/logo-2.png')}}" alt="$SITE_NAME"/></a>
                    <p class="rs term-privacy">
                        <a class="fw-b be-fc-orange" href="#">Terms & Conditions</a>
                        <span class="sep">/</span>
                        <a class="fw-b be-fc-orange" href="#">Privacy Policy</a>
                        <span class="sep">/</span>
                        <a class="fw-b be-fc-orange" href="#">FAQ</a>
                    </p>
                    <p class="rs ta-c fc-gray-dark site-copyright">Design proposé par Gat3an .</p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </footer><!--end: #footer -->



               
 <div class="popup-common" id="sys_popup_common">
    <div class="overlay-bl-bg"></div>
    <div class="container_12 pop-content">
        <div class="grid_12 wrap-btn-close ta-r">
            <i class="icon iBigX closePopup"></i>
        </div>
       
        <div class="grid_6 prefix_1">
            <div class="form login-form">
                <form action="#">
                    <h3 class="rs title-form">Register</h3>
                    <div class="box-white">
                        <h4 class="rs title-box">Bienvenue à Crowdrise</h4>
                        <p class="rs">Merci de s'inscrire</p>
                        <div class="form-action">
                            <label for="txt_name">
                            </label>
                            <div class="wrap-2col clearfix">
                                <div class="col">
                                    <label for="txt_email">
                                    </label>
                                    <label for="txt_re_email">
                                    </label>
                                </div>
                                <div class="col">
                                    <label for="txt_password">
                                    </label>
                                    <label for="txt_re_password">
                                    </label>
                                </div>
                            </div>
                            <p class="rs pb10"></p>
                            <p class="rs ta-c">
                                 <a href="{{path('fos_user_registration_register')}}" class="btn btn-red btn-submit-all">Register</a>
                                
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>

{% block login %}
        
{% endblock login %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-20585382-5', 'megadrupal.com');
  ga('send', 'pageview');

</script>
</body>
</html>{# empty Twig template #}
