{%extends "EspritFrontOfficeBundle::ajoutIdee.html.twig"%}
{%block title %}Ajouter une idée{%endblock%}
{%block zeyed2 %} {%endblock%}

{%block page %} Ajouter une idée {%endblock%}
{%block container %}
    


{% if is_granted('ROLE_USER') %}

<form   method="POST" {{ form_enctype(form.file) }}>
{{ form_start(form) }}
<div class="layout-2cols">
        <div class="content grid_8">
            <div class="project-detail">
                <div class="project-tab-detail tabbable accordion">
                    <ul class="nav nav-tabs clearfix">
                      <li class="active"><a href="#">Ajouter une idée  </a></li>
                     </ul>
                    <div class="tab-content">
                        <div>
                            <h3 class="rs alternate-tab accordion-label">Registration</h3>
                            <div class="tab-pane accordion-content active">
                                <div class="form form-profile">
                                    <form action="#">
									 <label class="lbl" for="txt_name1">Titre :</label>
                                            <div class="val">
                                                  {{ form_widget(form.titre, { 'attr': {'class': 'txt', 'placeholder': "" } }) }}
                                               
                                                <p class="rs description-input">Le titre de l'idée</p>
                                            </div>
											
											 <label class="lbl" for="txt_name1">Description :</label>
                                            <div class="val">
                                                  {{ form_widget(form.description, { 'attr': {'class': 'txt', 'placeholder': "" } }) }}
                                               
                                                <p class="rs description-input">Décrire votre idée.</p>
                                            </div>
									 <label class="lbl" for="txt_name1">Type:</label>
                                            <div class="val">
                                                  {{ form_widget(form.type, { 'attr': {'class': 'txt', 'placeholder': "" } }) }}
                                               
                                                <p class="rs description-input">>Choisir le type de votre idée.</p>
                                            </div>{{ form_widget(form.file) }}
                                            <p class="rs description-input">Une image de votre idée</p>
									</div>
                                            
                                        </div>
									
									
   
       <p class="wrap-btn-submit rs ta-r">
                                                             

                                            <input type="submit" value="Ajouter" class="btn btn-red btn-submit-all" />
                                             <div>
{{ form_end(form) }}
    </div>
                                        </p>
                                    </form>
    
                                </div>
                                </div>
                        </div>
                       
                       
                  
                
                      </div>
{%else%}
    <center>
        <h2>Vous devez etre connecté pour pouvoir ajouter une idée.</h2>
    <br> 
    <a href="{{path('fos_user_security_login')}}"><h1>Connecter</h1></a>
    <br>
    <a href="{{path('fos_user_registration_register')}}"><h1>S'inscrire</h1></a>
    </center>
{%endif%}        

{%endblock%}
