{%extends "EspritFrontOfficeBundle::layout1.html.twig"%}
{%block content %}
    <form action="" method="POST">
        <center>
            <table align="center" class="features-table"> 

                <!--   <tr> 
                       <td>{{ form_label(Form1.noteGenerale) }}</td> 
                       <td>{{ form_widget(Form1.noteGenerale) }}</td> 
                   </tr> -->

                <tr>
                    <td>{{ form_label(Form1.competences) }}</td> 
                    <td>{{ form_widget(Form1.competences) }}</td> 
                </tr>

            </table>
            <script type="text/javascript">var switchTo5x = true;</script>
            <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
            <script type="text/javascript">stLight.options({publisher: "eafcb90b-6a0e-40c7-80c3-8ce0a4122176", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
            <br>
           
           {{form_widget (Form1.valider,{'attr':{'class' : 'btn btn-red btn-submit-all'}  }) }}
                                    {{ form_row(Form1._token) }}

        </center>
    </form>
    <center>
        <span class='st_sharethis_large' displayText='ShareThis'></span>
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_linkedin_large' displayText='LinkedIn'></span>
        <span class='st_pinterest_large' displayText='Pinterest'></span>
        <span class='st_email_large' displayText='Email'></span>
    </center>
{%endblock%}