{%extends "EspritBackOfficeBundle::layout.html.twig"%}
{%block container %}
        <center>

<h1>Modifier une Compétence </h1>
<form method="POST">
            <table>
                <tr>
                    <td>Libellé</td><td>{{form_widget(Form.libelleCompetence)}}</td>
                </tr>
                <tr>
                    <td>Catégorie</td><td>{{form_widget(Form.categorie)}}</td>
                </tr>
                </table>
                    {{form_widget (Form.enregistrer,{'attr':{'class' : 'btn btn-red btn-submit-all'}  }) }}
                    {{ form_row(Form._token) }}
                    
                    {{form_errors(Form)}}

    </form>
        </center>

{%endblock%}

