
{% trans_default_domain 'FOSUserBundle' %}

{% if is_granted('ROLE_USER') %}
    <center><h1>Vous etes déja connecté</h1></center>
{% else %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

   



<div class="layout-2cols">
        <div class="content grid_8">
            <div class="project-detail">
                <div class="project-tab-detail tabbable accordion">
                    <ul class="nav nav-tabs clearfix">
                      <li class="active"><a href="#">Inscription</a></li>
                    
                   
                    
                    </ul>
                    <div class="tab-content">
                        <div>
                            <h3 class="rs alternate-tab accordion-label">Inscription</h3>
                            <div class="tab-pane accordion-content active">
                                <div class="form form-profile">
                                    <form action="#">
                                        <div class="row-item clearfix">
                                            <label class="lbl" for="txt_name1">Username:</label>
                                            <div class="val">
                                                  {{ form_widget(form.username, { 'attr': {'class': 'txt', 'placeholder': 'form.username'|trans } }) }}
                                               
                                               
                                            </div>
                                        </div>
                                          <div class="row-item clearfix">
                                            <label class="lbl" for="txt_name1">Email:</label>
                                            <div class="val">
                                               
                                                {{ form_widget(form.email, { 'attr': {'class': 'txt', 'placeholder': 'exemple@exemple.com'|trans } }) }}
                                                
                                            </div>
                                        </div>      
                                        
                                        <div class="row-item clearfix">
                                            <label class="lbl" for="txt_name1">Date de naissance :</label>
                                            <div class="val">
                                               
                                              {{ form_widget(form.age, { 'attr': {'class': 'txt', 'placeholder': 'password' } }) }}
                                                
                                            </div>
                                        </div>
                                        
                                        <div class="row-item clearfix">
                                           <label class="lbl" for="txt_name1">votre mot de passe :</label>
                                            <div class="val">
                                               
                                              {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'txt', 'placeholder': 'password' } }) }}
                                                
                                            </div>
                                        </div>
                                                <div class="row-item clearfix">
                                           <label class="lbl" for="txt_name1">confirmer votre mot de passe :</label>
                                            <div class="val">
                                               
                                              {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'txt', 'placeholder': 'password' } }) }}
                                                
                                            </div>
                                        </div>
                                                 
                                                 
                                      
                                            <div class="row-item clearfix">
                                            <label class="lbl" for="txt_name1">Ajouter votre photo:</label>
                                          <div class="val">
                                            {{ form_widget(form.file, { 'attr': {'class': 'txt' } }) }}
                                        </div> </div>
                                        <p class="wrap-btn-submit rs ta-r">
                                        <center><input type="submit" value="{{ 'Valider'|trans }}" class="btn btn-red btn-submit-all" />
                                           </div>
                                                 
       
   
                                        </p>
                                    </form>
                                </div>
                                </div>
                        </div>
                       
                       
                  
                
                      </div>
              {{ form_rest(form) }}
      {%endif%}